*,
::before,
::after {
  /*  */
  border: 1px solid red;
  /*  */
}

:root {
  --square-size: 50px;
  /*  */
  border: none;
  /*  */
}
body {
  border: none;
  background-color: rgb(140, 174, 207);
}

.container {
  margin: 20px auto;
  padding: 5px;
  border-color: blue;
  max-width: 90vw;
  height: max-content;
  min-height: 200px;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "title title title"
    "rules grid grid"
    "controls numberpad numberpad";
  grid-template-rows: min-content minmax(auto, auto) min-content;
  grid-template-columns: min-content min-content min-content;
}

.title {
  grid-area: title;
  text-align: center;
  font-size: 30px;
}

.rules {
  grid-area: rules;
  text-align: center;
  border: 1px solid red;
}

.board {
  user-select: none;
  grid-area: grid;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 2px solid black;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.numberpad {
  grid-area: numberpad;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
}
.pad-number {
  width: 50px;
  text-align: center;
  border: none;
  user-select: none;
}
.pad-number:hover {
  cursor: pointer;
}

/* grid children */
.box {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 2px solid black;
}

.square {
  width: 6vw;
  height: 6vw;
  display: grid;
  place-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";
  position: relative;
  border: 2px solid grey;
}

.entry {
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.candidate {
  font-size: 0.5em;
  width: 95%;
  height: 95%;
  border: 1px dashed #0000ff22;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .control children */
.controls-title {
  text-align: center;
}

.control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* style toggles */
.hidden {
  display: none;
}

.set {
  background-color: rgb(153, 165, 180);
}

.wrong {
  background-color: red;
}

.highlight.candidate {
  background-color: rgb(248, 248, 120);
  font-weight: bold;
}

.highlight.entry,
.highlight.pad-number {
  font-weight: bold;
}

.no-pointer {
  pointer-events: none;
  cursor: default;
}

.candidate:hover {
  background-color: rgb(255, 83, 83);
  font-weight: bold;
}

.entry:hover {
  border: 1px solid rgb(80, 80, 80);
}
