*,
::before,
::after {
  /*  */
  border: 1px solid red;
  /*  */
}

:root {
  --square-size: 50px;
  /*  */
  border: none;
  /*  */
}
body {
  border: none;
  background-color: antiquewhite;
}

.container {
  margin: 20px auto;
  padding: 5px;
  border-color: blue;
  width: 95vw;
  height: max-content;
  min-height: 200px;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "title title title"
    "rules grid grid"
    "controls numberpad numberpad";
  grid-template-rows: min-content minmax(auto, auto) min-content;
  grid-template-columns: auto min-content min-content;
}

.title {
  grid-area: title;
  text-align: center;
}

.rules {
  grid-area: rules;
  text-align: center;
}

.grid {
  grid-area: grid;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 3px solid green;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.numberpad {
  grid-area: numberpad;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
}

/* grid children */
.threebythree {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 3px solid green;
}

.square {
  width: 6vw;
  height: 6vw;
  display: grid;
  place-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";
  position: relative;
}

.square-number {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.candidate {
  font-size: 0.5em;
  text-align: center;
  width: 90%;
  height: 90%;
}

/* .control children */
.controls-title {
  text-align: center;
}

.control-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* style toggles */
.hidden {
  display: none;
}

.set {
  background-color: lightgray;
}

.wrong {
  background-color: red;
}
